asn1crypto==0.23.0
attrs==17.2.0
Automat==0.6.0
boto3==1.4.7
botocore==1.7.16
cffi==1.11.0
constantly==15.1.0
crochet==1.9.0
cryptography==2.0.3
cssselect==1.0.1
docutils==0.14
enum34==1.1.6
futures==3.1.1
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipaddress==1.0.18
jmespath==0.9.3
lxml==4.0.0
parsel==1.2.0
pyasn1==0.3.6
pyasn1-modules==0.1.4
pycparser==2.18
PyDispatcher==2.0.5
Pygments==2.2.0
pyOpenSSL==17.3.0
python-dateutil==2.6.1
queuelib==1.4.2
s3transfer==0.1.11
Scrapy==1.4.0
scrapydo==0.2.2
service-identity==17.0.0
six==1.11.0
Twisted==17.9.0
w3lib==1.18.0
wrapt==1.10.11
zope.interface==4.4.3
